<span app-controls></span>
<div id="panel">
	<div>{{player.name}}</div>
	<div>X: {{player.x}}</div>
	<div>Y: {{player.y}}</div>
	<ul class="itemList">
		<li class="item-stack" ng-repeat="itemStack in player.inventory">
			<span>{{itemStack.count}}</span>
			<span>{{itemStack.item}}</span>
		</li>
	</ul>
</div>
<div id="content">
	<div world>
		<div chunk ng-repeat="chunk in chunks">
			<div tile-column ng-repeat="column in chunk.tiles">
				<div tile ng-repeat="tile in column">
				</div>
			</div>
		</div>
	</div>
</div>

