
@tileSize: 30px;  /* also defined in script */
@chunkLength: 16; /* also defined in script */
@hudWidth: 180px;

.reset-list-styles {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html, body, div[ng-app], div[ng-view] {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background-color: #111;
}

#app {
	position: absolute;
	width: 100%;
	height: 100%;
}

#content {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: black;
	color: white;
}

#hud {
	z-index: 1;
	position: absolute;
	width: @hudWidth;
	top: 0;
	max-height: 100%;
	overflow-y: auto;
	background-color: rgba(25,25,25,0.75)
}

.hud-row {
	color: #DDD;
}

.item-selected-true {
	background-color: rgba(47, 150, 47, 0.75);
}

.item-swap-button {
	display: inline-block;
	width: 40%;
	text-align: center;
	color: #4A4;
}

.world {
	position: absolute;
	display: inline;
	overflow: visible;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.chunk {
	position: absolute;
	display: inline;
	overflow: visible;
}

.tile-column {
	position: absolute;
	display: inline;
	overflow: visible;
}

.tile {
	position: absolute;
	width: @tileSize;
	height: @tileSize;
	font-size: @tileSize;
	line-height: @tileSize;
	text-align: center;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.gui {
	position: absolute;
	background-color: rgba(44, 44, 44, 0.80);
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	overflow-y: auto;

	&.gui-false {
		display: none;
	}
}

.gui-option {
	text-align: center;
	margin: 0.7em;
	button {
		display: inline;
		padding: 0.3em;
		width: 90%;
	}
}

.gui-close {
	float: right;
}

