html, body, div[ng-app], div[ng-view] {
	height: 100%;
}

#content {
	height: 100%;
	background-color: black;
	color: white;
	overflow: hidden;
}

#panel {
	z-index: 1;
	position: absolute;
	display: inline;

	top: 2em;
	left: 2em;
	height: 20em;
	width: 10em;

	background-color: white;
	opacity: 0.9;
}

.reset-list-styles {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@tileSize: 0.5em;
@chunkLength: 16;

ul.chunkList {
	.reset-list-styles;
	line-height: 0;
	li.chunk {
		width: @chunkLength * @tileSize;
		height: @chunkLength * @tileSize;
		position: absolute;
	}
}

ul.itemList {
	.reset-list-styles;
	li {
		/* itemstack count */
		span:first-child {
			min-width: 3em;
			text-align: right;
			display: inline-block;
		}
	}
}

ul.tileList {
	.reset-list-styles;
	line-height: 0;
	li.tile {
		display: inline-block;
		width: @tileSize;
		height: @tileSize;
		position: absolute;
	}
}

.tile0 { background-color: #888; }
.tile1 { background-color: #555; }
